.aboutUsSection {
    padding: 120px 0;
    
    &-headers {
        padding: 0 0 80px 0;
        flex-direction: column;
        align-content: center;
    }

    &-element {
        padding: 0 0 90px 0;
        
        &::after {
            width: 2px;
            height: 90px;
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            background-color: $borderImgAboutUSColor;
        }

        @include media ('>phone','<tablet') {
           .main {
               display: flex;
               flex-direction: column;
               align-items: center;

               .aboutUsImg {
                   margin: 20px;
               }
           }
        }

        @include media ('>phone','<oldDesktop') {
            padding: 30px 0 30px 0;

            &::after {
                display: none;
            }
        }

        &-elementHeader {
                        
            &-data {
                text-transform: uppercase;
            }

            &--left {
                padding:  0 40px 0 0;
                text-align: right;
                
                @include media ('>phone','<oldDesktop') {
                    padding: 0 20px;
                    text-align: center;
                }
            }

            &--right {
                padding: 0 0 0 40px;
                text-align: left;

                @include media ('>phone','<oldDesktop') {
                    padding: 0 20px;
                    text-align: center;
                }
            }

            
        }

        &-elementText {
                        
            &--left {
                padding: 20px 40px 0 0;
                text-align: right;
                
                @include media ('>phone','<oldDesktop') {
                    padding: 20px;
                    text-align: center;
                }
            }

            &--right {
                padding: 20px 0 0 40px;
                text-align: left;

                @include media ('>phone','<oldDesktop') {
                    padding: 20px;
                    text-align: center;
                }
            }
        }
    }
}    