.teamSection {
    padding: 120px 0;
    background-color: $bgSections2;

    &-headers {
        padding: 0 0 30px 0;
        flex-direction: column;
        align-content: center;
    }

    &-column {
        padding: 50px 13px 0 13px;
        display: flex;
        flex-direction: column;
        //czym ruszyć img z miejsca???? dodatkowy kontener?
        // flex-direction: column;
        align-content: center;
        justify-content: center;
        
        &-socialIconsContainer {
            display: flex;
            justify-content: center;
        }

        &-elementHeader {
            padding:  30px 0 0 0;   
        }
    
        &-elementText {
            padding: 0 0 30px 0;         
        }       
    }
   
    &-teamSectionText {
        padding: 50px 30px 0 30px;
    }
}